.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 900px;
    background-color: #000;
    &__tables {
        display: flex;
        justify-content: space-between;
        width: 1170px;
        .price-card {
            width: 380px;
            height: 770px;
            background: $bgc-price-card;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
            &__title {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding: 0;
                width: 100px;
                height: 67px;
                margin-top: 30px;
                font-weight: 700;
                font-size: 35px;
                line-height: 43px;
                text-align: center;
                color: #FFFFFF;
                &-s {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
            &__price {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 36px;
                width: 380px;
                height: 104px;
                font-weight: 700;
                font-size: 55px;
                line-height: 104px;
                text-align: center;
                color: #FFFFFF;
                background-color: $bgc-price-first;
            }
            &__description {
                margin: 39px 26px 40px;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
            }
            &__options-list {
                padding-left: 0;
                &__contain {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    .icon-add {
                        display: block;
                        line-height: 0;
                        width: 15px;
                        height: 13px;
                        margin: -3px 21px 0 22px;
                    }
                    &:nth-child(odd) {
                        background-color: $bgc-price-odd;
                    }
                }
            }
            &:nth-child(2) {
                position: relative;
                .price-card__title {
                    width: 165px;
                    height: 67px;
                }
                .popular {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 31px;
                    right: -5px;
                    width: 97px;
                    height: 25px;
                    background: $bgc-popular;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    background: $bgc-popular;
                    border: none;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -25px;
                        width: 0;
                        height: 0;
                        border-top: 25px solid transparent;
                        border-left: 25px solid $bgc-popular;
                        transform: rotate(-90deg);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: -25px;
                        width: 0;
                        height: 0;
                        border: none;
                        border-top: 25px solid transparent;
                        border-left: 25px solid $bgc-popular;
                    }
                    transform: rotate(45deg);
                }
                .price-card__price {
                    background-color: $bgc-price-second;
                }
            }
            &:nth-child(3) {
                .price-card__title {
                    width: 175px;
                    height: 67px;
                }
                .price-card__price {
                    background-color: $bgc-price-third;
                }
            }
            &__order-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                margin-top: 37px;
                margin-bottom: 42px;
                width: 155px;
                height: 40px;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                background: #5BB189;
                outline: none;
                border: none;
                border-radius: 20px;
                color: #fff;
            }
            &:nth-child(2) {
                .price-card__order-btn {
                    background-color: $bgc-price-second;
                    border: none;
                }
            }
            &:nth-child(3) {
                .price-card__order-btn {
                    background-color: $bgc-price-third;
                }
            }
        }
    }
}